*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(34, 34, 77);
}

.navbar{
margin-left: 10%;
margin-right: 10%;
display: flex;
justify-content: space-between;
position: relative;
padding-top: 10px;
}

.navbar ul{
    list-style-type: none;
    font-size: 1rem;
}

.navbar li{
    margin: 10px;
    display: inline-block;
}

.navbar li:hover a {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.08);
    transition: 0.5s ease-out;
    cursor: pointer;
    color: blue;
}

.navbar .bi{
    color: white;
    position: relative;
    right: 15px;
    position: absolute;
    padding-top: 18px;
}

.navbar a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.btn{
    border: 1px solid black;
    padding: 6px;
    border-radius: 5px;
    background-color:rgb(19, 144, 253);
}

.logo{
    color: white;
    padding-top: 6px;
}

.me{
    text-align: center;
    padding-top: 70px;
}

.button{
    padding-top: 20px;
}

.button li{
    display: inline-block;
    padding: 10px;
}

.button li a{
    text-decoration: none;
    padding: 6px;
    border-radius: 5px;
}

.get{
    background-color: rgb(19, 144, 253);
    border: 1px solid black;
    padding: 6px;
    border-radius: 5px;
}

.get a{
    color: white;
}

.get:hover a {
    transform: scale(1.08);
    transition: 0.5s ease-out;
    cursor: pointer;
    color: red;
}

.bt{
    background-color: transparent;
    border: 1px solid  rgb(19, 144, 253);
    padding: 6px;
    border-radius: 5px;
    color: rgb(19, 144, 253);
}

.bt:hover a {
    transform: scale(1.08);
    transition: 0.5s ease-out;
    cursor: pointer;
    color: white;
}

.me h3{
    color: white;
    padding-top: 30px;
}

.me h2{
    color: white;
    padding-top: 30px;
    font-size: 2.2rem;
}

.me p{
    color: rgb(67, 67, 204);
}

.more-reasons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
    padding-bottom: 50px;
    margin-inline: 20%;
    height: 200px;
    padding-top: 100px;
}

.grid {
    color: rgb(19, 144, 253);
    background-color: white;
    padding: 20px 10px;
    overflow: hidden;
    font-weight: 3rem !important;
    text-align: left;
    cursor: pointer;
}

.grid:hover  {
    transform: scale(1.08);
    transition: 0.5s ease-out;
    cursor: pointer;
    background-color:rgb(240, 182, 182);
}

.grid:hover p {
    color: aliceblue;
}

.grid:hover h4 {
    color: aliceblue;
}

.grid-1:hover  {
    transform: scale(1.08);
    transition: 0.5s ease-out;
    cursor: pointer;
    background-color:rgb(170, 241, 170);
    color: white;
}

.grid-1:hover p {
    color: aliceblue;
}

.grid-1:hover h4 {
    color: aliceblue;
}

.grid-2:hover  {
    transform: scale(1.08);
    transition: 0.5s ease-out;
    cursor: pointer;
    background-color:rgb(19, 144, 253);
    color: white
}

.grid-2:hover p {
    color: aliceblue;
}

.grid-2:hover h4 {
    color: aliceblue;
}



.grid .bi {
    float: left;
    font-size: xx-large;
    border: 1px solid  rgb(240, 182, 182);
    padding: 6px;
    border-radius: 5px;
    color: red;
    background-color: rgb(240, 182, 182);
}

.grid h4{
    text-align: left;
    color: black;
    padding-top: 10px; 
    border-bottom: 2px solid red;
    width: 40px; 
    white-space: nowrap;  
    padding-bottom: 10px;
}

.grid p{
    text-align: left;
    color: rgb(65, 55, 55);
    padding-top: 10px;
    font-size: 0.9rem;    
}
.grid-1 {
    color: rgb(19, 144, 253);
    background-color: white;
    padding: 20px 10px;
    overflow: hidden;
    font-weight: 3rem !important;
    text-align: left;
    cursor: pointer;
  }

  .grid-1 .bi {
    float: left;
    font-size: xx-large;
    border: 1px solid rgb(170, 241, 170);
    padding: 6px;
    border-radius: 5px;
    color:green;
    background-color: rgb(170, 241, 170);
  }

.grid-1 h4{
    text-align: left;
    color: black;
    padding-top: 10px;
    border-bottom: 2px solid red;
    width: 40px; 
    white-space: nowrap;  
    padding-bottom: 10px;    
}

.grid-1 p{
    text-align: left;
    color: rgb(65, 55, 55);
    padding-top: 10px;
    font-size: 0.9rem;
    
}

.grid-2 {
    color: black;
    background-color:white;
    padding: 20px 10px;
    overflow: hidden;
    font-weight: 3rem !important;
    text-align: left;
    cursor: pointer;
  }

  .grid-2 .bi {
    float: left;
    font-size: xx-large;
    border: 1px solid rgb(19, 144, 253);
    padding: 6px;
    border-radius: 5px;
    color:white;
    background-color:rgb(19, 144, 253);
  }

.grid-2 h4{
    text-align: left;
    color: black;
    padding-top: 10px;
    border-bottom: 2px solid red;
    width: 40px; 
    white-space: nowrap;  
    padding-bottom: 10px;
    
}

.grid-2 p{
    text-align: left;
    color: black;
    padding-top: 10px;
    font-size: 0.9rem;
    
}



